body {
  background: #283048;
  background: -webkit-gradient(linear, right top, left top, from(#283048), to(#859398));
  background: linear-gradient(to left, #283048, #859398);
}

#drive-up-to, #yes-even-from, #driveguard, #see-more, #learn-more, #archer-sm, #get-7 {
  opacity: 0;
}
